<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>message</title>
  </head>
  <body>
    <div class="user-message">
      <b><%= message.user %></b>
      <p><%= message.text %></p>
      <p><%= message.added %></p>
      <a href="/">Return Home</a>
    </div>
  </body>
</html>
