* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
  padding: 15px 20px;
  align-items: center;

  position: fixed;
}

.message-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 80px 20px;
  gap: 10px;
}

.message-box {
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  flex-direction: column;
  padding: 20px 10px;
  gap: 5px;
}

.message-box b {
  font-size: 1.5rem;
}

.form-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  color: white;
  padding: 30px 40px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.submit-btn {
  width: fit-content;
}
